<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>GenjGoogleDriveBundle:Page:slideshow</title>
    <link rel="stylesheet" type="text/css" href="/css/genj_google_drive_slideshow.css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

    <script type="text/javascript">
        var fpslideshowvar = {
            baseurl: '/',
            images:  [{{ images|raw }}],
            desc:    []
        }
    </script>

    <script type="text/javascript" src="/js/genj_google_drive_slideshow.js">

        /***********************************************
         * Full Screen Image Slideshow (w/ auto read images from directory)- by JavaScript Kit (www.javascriptkit.com)
         * This notice must stay intact for usage
         * Visit JavaScript Kit at http://www.javascriptkit.com/ for full source code
         ***********************************************/

    </script>
</head>

<body>
</body>

</html>

